* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #f9f9f9;
}

body.subpages {
  color: #dddddd;
  background-color: #222;
}

body.subpages footer nav a {
  color: #dddddd;
}

body.subpages footer nav a:hover {
  color: white;
}

section {
  padding: 1rem;
}

.fullpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.sub footer {
  margin: 0 10%;
}

.sub main {
  margin: 5rem 10rem;
}

.index {
  height: 100vh;
  background: url("../images/frontpage.jpg") no-repeat center center fixed;
  background-color: #222;
  -webkit-box-shadow: inset 0 0 150px black;
          box-shadow: inset 0 0 150px black;
  background-size: cover;
  background-origin: content-box;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.no-padding {
  padding: 0;
}

header section#logo {
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25em;
          flex: 1 0 25em;
}

header, footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin: 0 10%;
}

header nav a, footer nav a {
  text-decoration: none;
  color: #f9f9f9;
}

header nav a:hover, footer nav a:hover {
  color: #b9b9b9;
}

header nav a:nth-child(odd), header nav a:nth-child(even), footer nav a:nth-child(odd), footer nav a:nth-child(even) {
  margin-right: 1rem;
}

header nav a:nth-last-child, footer nav a:nth-last-child {
  margin-right: 0rem;
}

header {
  margin-top: 1rem;
}

header nav a {
  -webkit-text-decoration: dashed underline #f9f9f9;
          text-decoration: dashed underline #f9f9f9;
}

header nav a:hover {
  -webkit-text-decoration: dashed underline #b9b9b9;
          text-decoration: dashed underline #b9b9b9;
}

.plans header#plans, .plans header#services, .plans header#contact, .services header#plans, .services header#services, .services header#contact, .contact header#plans, .contact header#services, .contact header#contact {
  height: 10rem;
}

.plans header#plans main h1, .plans header#plans h2, .plans header#services main h1, .plans header#services h2, .plans header#contact main h1, .plans header#contact h2, .services header#plans main h1, .services header#plans h2, .services header#services main h1, .services header#services h2, .services header#contact main h1, .services header#contact h2, .contact header#plans main h1, .contact header#plans h2, .contact header#services main h1, .contact header#services h2, .contact header#contact main h1, .contact header#contact h2 {
  font-stretch: expanded;
}

.plans {
  height: 25rem;
  border-bottom: 1px solid #aaaaaa;
  background: url("../images/membership.jpg") no-repeat center center fixed;
  background-color: #222;
  -webkit-box-shadow: inset 0 0 150px black;
          box-shadow: inset 0 0 150px black;
  background-size: cover;
  background-origin: content-box;
}

.services {
  height: 25rem;
  border-bottom: 1px solid #aaaaaa;
  background: url("../images/services.jpg") no-repeat center center fixed;
  background-color: #222;
  -webkit-box-shadow: inset 0 0 150px black;
          box-shadow: inset 0 0 150px black;
  background-size: cover;
  background-origin: content-box;
}

.contact {
  height: 25rem;
  border-bottom: 1px solid #aaaaaa;
  background: url("../images/contact.jpg") no-repeat center center fixed;
  background-color: #222;
  -webkit-box-shadow: inset 0 0 150px black;
          box-shadow: inset 0 0 150px black;
  background-size: cover;
  background-origin: content-box;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main h1, main h2, main h3, main h4, main h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-shadow: 0px 2px #000;
  color: #BBBF45;
}

main h2 {
  font-size: 4rem;
}

main h3 {
  font-weight: 500;
  font-size: 2rem;
}

main a.button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #262626;
  text-decoration: none;
  color: #d9d9d9;
  font-weight: bold;
}

main a.button:hover {
  background-color: #0d0d0d;
}

main a.button:visited {
  background-color: black;
}

/* hack */
.m-y-b-2 {
  margin-bottom: 2rem;
}

/* cards */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cards .card {
  margin: 10px;
  border: 1px solid #2f2f2f;
  background: radial-gradient(#484848, #222);
}

.cards .card img {
  max-width: 100%;
}

.cards .card .text {
  padding: 0 20px 20px;
}

.cards .card span.button {
  display: inline-block;
  background: gray;
  border: 0;
  color: white;
  padding: 0rem;
  margin: 0.5rem;
}

.cards .card span.button h3 {
  margin: 1rem;
}

.cards .bronze {
  background: radial-gradient(#ff9401, #804a00);
}

.cards .bronze span.button {
  background-color: #003680;
  border: 1px solid #002b67;
}

.cards .bronze h3 {
  color: #ffb44d;
}

.cards .bronze hr {
  color: #002b67;
}

.cards .gold {
  background: radial-gradient(#e6a848, #996515);
}

.cards .gold span.button {
  background-color: #154999;
  border: 1px solid #123e83;
}

.cards .gold h3 {
  color: #efc88b;
}

.cards .gold hr {
  color: #123e83;
}

.cards .silver {
  background: radial-gradient(#b0b0af, #70706f);
}

.cards .silver span.button {
  background-color: #6f6f70;
  border: 1px solid #626263;
}

.cards .silver h3 {
  color: #d6d6d5;
}

.cards .silver hr {
  color: #626263;
}
/*# sourceMappingURL=index.css.map */